# SPDX-License-Identifier: Apache-2.0
# Override standard recipe to cater for mixed raid1/raid0 (no LVM):
#
#  grub: 1MB (biosgrub type, space for grub, required on a GPT layout)
#  fat32: 256MB (UEFI EFI System Partition or ESP)
#  80G raid1 /
#   1G raid1 swap
# rest raid0 /srv
#
# Intended usage: include standard.cfg raid0.cfg raid0-<N>dev.cfg as needed.

d-i	partman-auto/expert_recipe	string	\
		linuxraid	 :: 	\
			1 1 1 grub			\
				$primary{ }		\
				$lvmignore{ }		\
				method{ biosgrub }	\
			.				\
			256 256 256 fat32		\
				$primary{ }		\
				$lvmignore{ }		\
				method{ efi }		\
				format{ }		\
			.				\
			1000 1024 80000 raid		\
				$primary{ }		\
				method{ raid }		\
				$lvmignore{ }		\
			.				\
			1024 1024 1024 raid		\
				$primary{ }		\
				method{ raid }		\
				$lvmignore{ }		\
			.				\
			1000 1024 -1 raid		\
				$primary{ }		\
				method{ raid }		\
				$lvmignore{ }		\
			.
